<div class="container">
  <h1 id="tableLabel">Weather forecast</h1>
  <p><i class="bi bi-receipt-cutoff"></i></p>

  <p>This component demonstrates fetching data from the server.</p>

  <p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

  <table class="" *ngIf="forecasts">
    <thead>
      <tr>
        <th class="">Date</th>
        <th class="">Temp. (C)</th>
        <th class="">Temp. (F)</th>
        <th class="">Summary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forecast of forecasts">
        <td>{{ forecast.date }}</td>
        <td>{{ forecast.temperatureC }}</td>
        <td>{{ forecast.temperatureF }}</td>
        <td>{{ forecast.summary }}</td>
      </tr>
    </tbody>
  </table>
  <mat-slide-toggle>Switch!</mat-slide-toggle>
</div>


<div class="form-container">
  <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <button mat-flat-button>Basic</button>
</div>
